/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*-----Base Styles (element selectors; color, typography)-----*/
html {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  font-family: Cambria, Georgia, Helvetica, sans-serif;
  background-color: #F3F2F7;
  line-height: 1.5em; /* 24px / 16px */
  padding: 0 1em; /* 16px = 1em */
  /*background-image: url(22px-grid.png);*/
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  padding: 0 0 0 0;
  font-weight: bold;
  color: #801A86;
}

h2 {
  font-size: 1.375em; /* 22px / 16px = 1.375em */
  padding: 1em 0 0.0625em 0; /* 16px = 1em and 2px / 16px = 0.0625em */
}

h3, h4 {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  color: black;
}

li {
  margin-left: 1.0625em; /* 17px / 16px = 1.0625em */
  list-style-type: circle;
}

li.school,
li.paragraph {
  margin-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

/*-----Layout (id selectors; width/height, position, flexbox, grid)-----*/
#main-heading {
  font-size: 2.25em; /* 36px / 16px = 2.25em */
  color: #531056;
  line-height: 1.125em; /* 18px / 16px = 1.125em */
}

#dog-description {
  padding: 0 0 0.625em 0; /* 10px / 16px = 0.625em */
}

.nav-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/*-----Module/Modular (class or descendent selectors; repeating specific styles)-----*/
.list-description,
.project-course {
  margin-left: 2.125em; /* 34px / 16px = 2.125em */
  list-style-type: square;
}

.project-course,
.time {
  font-style: italic;
}

.employer,
.project-name,
.school,
.sub-heading,
li.divider h3 {
  color: #765FC2;
  margin-left: 0;
  list-style-type: none;
  padding: 0 0 0 0;
}

.workplace,
.institution,
.ind-project {
  padding: 0 0 0.625em 0; /* 6px / 16px */
}

.section-title {
  font-size: 1.375em; /* 22px / 16px */
  font-weight: bold;
  color: #801A86;
  padding: 1em 0 0 0; /* 16px = 1em */
}

.degree,
.job-title {
  font-size: 0.875em; /* 4px / 16px = 0.25em */
  margin-left: 1em; /* 16px = 1em */
  list-style-type: square;
}

.nav-list li,
.pictures li,
.divider,
.project-description {
  list-style-type: none;
  margin-left: 0;
}

.pictures {
  background: #222;
  overflow: auto;
  padding: 0.25em; /* 4px / 16px = 0.25em */
}

.pictures li {
  box-sizing: border-box;
  padding: 0.25em; /* 4px / 16px = 0.25em */
}

.nav-list a {
  display: block;
  font-size: 1.125em;
  background: #765FC2;
  color: white;
  border: 0.125em solid white; /* 2px / 16px = 0.125em */
  padding: 1em;
}

.project-button {
  font-size: 0.85em;
  background: #765FC2;
  color: white;
  width: 50vw;
  padding: 1em; /* 16px / 16px = 1em */
  text-align: left;
}

.project-content {
  display: none;
  overflow: hidden;
}

.project-button:hover,
a:hover {
  background: #660066;
}

#contact-information li {
  list-style-type: none;
  margin-left: 0;
}

/*-----State (repeat the structure above; media queries, JavaScript-dependent styles)-----*/
/* media query for smaller viewports */
@media all and (min-width: 500px) {
  .pictures li {
    float: left;
    width: 60%;
  }

  .pictures {
    display: flex;
    flex-flow: row;
  }

  .nav-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  .content {
   display: block;
   grid-template-columns: auto auto;
  }
}
/* media query for larger viewports */
@media all and (min-width: 1000px) {
  .pictures li {
    width: 25%;
    padding: 0 0 0 0;
  }

  .pictures {
    justify-content: space-evenly;
  }

  p {
    display: flex;
    width: 75%;
  }

  .content {
   display: grid;
   grid-template-columns: auto auto;
  }
}
