/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*-----Base Styles (element selectors; color, typography)-----*/

html {
  font-size: 1.125em;
  font-family: Cambria, Helvetica, sans-serif;
  background-color: #F3F2F7;
  line-height: 1.222em;
  padding: 0 1em;
  /*background-image: url(22px-grid.png);*/
}

h1, h2, h3, h4 {
  padding: 0 0 0 0;
  font-weight: bold;
  font-size: 1.375em;
  color: #801A86;
}

h2 {
  padding: 1em 0 0.025em 0;
}

h3, h4 {
  font-size: 1.125em;
  padding: 0 0 0 0;
  color: black;
}

p {
  padding: 0.25em 0 0 0;
}

li {
  margin-left: 1.0625em;
  list-style-type: circle;
}

li.school,
li.paragraph {
  margin-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

/*-----Layout (id selectors; width/height, position, flexbox, grid)-----*/
#main-heading {
  font-size: 1.875em;
  color: #4E0250;
  line-height: 1.125em;
}

#sub-heading {
  font-size: 1.125em;
  color: #765FC2;
  padding: 0 0 0 0;
}

/*-----Module/Modular (class or descendent selectors; repeating specific styles)-----*/

.list-description,
.project-course {
  margin-left: 2.125em;
  list-style-type: square;
}

.project-course,
.time {
  font-style: italic;
}

.employer,
.project-name {
  font-size: 1;
  color: #765FC2;
  padding: 0.375em 0 0 0;
  margin-left: 0;
  list-style-type: none;
}

.section-title {
  font-size: 1.375em;
  font-weight: bold;
  color: #801A86;
  padding: 1em 0 0 0;
}

.degree,
.job-title {
  font-size: 0.875em;
  margin-left: 1em;
  list-style-type: square;
}

.nav-list li,
.pictures li,
.divider {
  list-style-type: none;
  margin-left: 0;
}

.pictures {
  background: #222;
  overflow: auto;
  padding: 0.25em;
}

.pictures li {
  box-sizing: border-box;
  padding: 0.25em;
}

.nav-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.nav-list li {
  font-size: 1.125em;;
  text-align: center;
  margin: 0.25em;
  padding: 0.25em 0.25em 0.25em 0.25em;
  border: 2px solid black;
}

/*-----State (repeat the structure above; media queries, JavaScript-dependent styles)-----*/
@media all and (min-width: 500px) {
  .pictures li {
    float: left;
    width: 60%;
  }

  .pictures {
    display: flex;
    flex-flow: column;
  }

  .nav-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  .nav-list li {
    font-size: 1.375em;
    text-align: center;
    margin-left: 1em;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 2px solid black;
  }
}

@media all and (min-width: 1000px) {
  .pictures li {
    width: 25%;
  }

  .pictures {
    justify-content: space-evenly;
  }

  p {
    display: flex;
    width: 75%;
    padding: 0 0 0.25em 0;
  }
}
